name: Test app CD

on:
    workflow_run:
        workflows: ["Test app CI"]
        types:
            - completed
    workflow_dispatch:

jobs:
    deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
              python-version: '3.8'

        - name: Install dependencies
          run: |
              python -m pip install --upgrade pip